header{
	padding: 10px;
	background: lightblue;
}
#header-subscript{
	font-style: italic;
}

#content{
	margin-left: 5%;
	margin-top: 5%;
}
#choices{
	margin-top: 10%;
	margin-left: 20%;
}
.distro-show{
	display: block;
	min-width: 100px;
	min-height: 100px;
	max-width: 300px;
	max-height: 300px;
}