header {
	padding: 10px;
	background: lightblue;
	box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.5);
}
footer {
	font-size: .9em;
	text-align: center;
	font-style: italic;
}

/* IDs */
#header-subscript {
	font-style: italic;
	padding-left: 5%;
}

#return-to-start {
	font-size: .9em;
	margin-top: 5%;
	margin-left: 5%;
}
#content {
	font-size: 1.25em;
	margin-left: 5%;
	max-width: 75%;
}
#choices {
	margin-top: 10%;
	margin-left: 20%;
}
#more-info {
	font-size: .9em;
}
#recommended {
	font-weight: 700;
	font-size: 1.25em;
}
/*#next {
	margin-right: 0;
}*/
/* Classes */
.dl-link {
	font-size: .8em;
	font-style: italic;
}
.distro-show {
	display: inline block;
	min-width: 100px;
	min-height: 100px;
	max-width: 300px;
	max-height: 300px;
}
.information {
	font-size: 0.9em;
	font-style: italic;
}